In [1]:
import pandas as pd
    
df = pd.read_csv('file/stock.csv',index_col='N')
df.index.name = "번호"

In [5]:
df.columns
df[['종목명', '현재가','등락률','시가총액']][10:20]

         종목명      현재가     등락률     시가총액
번호
11      셀트리온  151,800  -3.92%  338,499
12     NAVER  191,200  +0.10%  302,932
13      신한지주   51,600  +1.78%  259,778
14     현대모비스  259,000  +1.37%  240,857
15      한화오션   77,700  -2.63%  238,083
16   메리츠금융지주  118,100  -0.08%  212,597
17      삼성물산  123,900  +0.73%  210,601
18  POSCO홀딩스  258,500   0.00%  209,212
19  HD한국조선해양  273,000  -3.70%  193,211
20   두산에너빌리티   29,350  +5.39%  188,005

In [ ]:
df[df.columns[3:6]][3:20]
df

       등락률    액면가     시가총액
번호
4   -3.89%  2,500  711,384
5   +2.11%  5,000  406,058
6   -4.21%  5,000  383,338
7   +1.26%    100  378,408
8   +2.58%  5,000  364,268
9   -0.22%  5,000  361,259
10  -2.06%  5,000  359,087
11  -3.92%  1,000  338,499
12  +0.10%    100  302,932
13  +1.78%  5,000  259,778
14  +1.37%  5,000  240,857
15  -2.63%  5,000  238,083
16  -0.08%    500  212,597
17  +0.73%    100  210,601
18   0.00%  5,000  209,212
19  -3.70%  5,000  193,211
20  +5.39%  5,000  188,005

In [16]:
#df.set_index('종목명',inplace=True)
df.sort_index(ascending=False,inplace=True)
df[0:10]
df.reset_index(inplace=True)

In [17]:
df['현재가']
df[:][:5]
df.iloc[:3]

,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
0,효성티앤씨,"236,500",하락500,-0.21%,"5,000","10,235","4,328",17.85,"2,453",7.61,9.84
1,효성중공업,"532,000","상승14,000",+2.70%,"5,000","49,607","9,325",15.84,"30,049",22.28,14.90
2,호텔신라,"44,050",상승600,+1.38%,"5,000","17,289","39,248",14.99,"59,944",-28.64,-6.50

In [18]:
df.info()
df['현재가'][:3]

df['현재가']=df['현재가'].str.replace(",","").astype(int)
df['현재가']
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종목명     250 non-null    object
 1   현재가     250 non-null    object
 2   전일비     250 non-null    object
 3   등락률     250 non-null    object
 4   액면가     250 non-null    object
 5   시가총액    250 non-null    object
 6   상장주식수   250 non-null    object
 7   외국인비율   250 non-null    float64
 8   거래량     250 non-null    object
 9   PER     207 non-null    object
 10  ROE     202 non-null    float64
dtypes: float64(2), object(9)
memory usage: 21.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종목명     250 non-null    object
 1   현재가     250 non-null    int64
 2   전일비     250 non-null    object
 3   등락률     250 non-null    object
 4   액면가     250 non-null    object
 5   시가총액    250 non-null    object
 6   상장주식수   250 non-null    object
 7   외국인비율   250 non-null    float64
 8   거래량     250 non-null    object
 9   PER     207 non-null    object
 10  ROE     202 non-null    float64
dtypes: float64(2), int64(1), object(8)
memory usage: 21.6+ KB

In [25]:
#df.set_index('현재가',inplace=True)
df.sort_index(ascending=False,inplace=True)
df[0:5]

# max_rating = df['현재가'].max()
# min_rating = df['현재가'].min()
# avg_rating = df['현재가'].mean()

# print(f"최고값 : {max_rating}")
# print(f"최저값 : {min_rating}")
# print(f"평균값 : {avg_rating}")

,종목명,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
현재가,,,,,,,,,,
1069545,KODEX CD금리액티브(합성),상승80,+0.01%,0,"83,353","7,793",0.10,"145,933",NaN,NaN
1043735,TIGER CD1년금리액티브(합성),상승90,+0.01%,0,"10,251",982,0.00,"6,554",NaN,NaN
1022540,KODEX CD1년금리플러스액티브(합성),상승60,+0.01%,0,"22,062","2,158",0.00,"6,935",NaN,NaN
999500,삼성바이오로직스,"하락40,500",-3.89%,"2,500","711,384","71,174",13.04,"72,947",65.67,10.45
964000,삼양식품,"하락29,000",-2.92%,"5,000","72,618","7,533",17.20,"24,569",26.70,39.37

In [26]:
df.sort_index(ascending=True,inplace=True)
df[0:5]

,종목명,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
현재가,,,,,,,,,,
2100,KODEX 200선물인버스2X,하락25,-1.18%,0,"11,502","547,700",1.26,"46,424,263",NaN,NaN
2665,한화생명,상승20,+0.76%,"5,000","23,146","868,530",10.05,"377,263",3.14,6.98
3390,한온시스템,상승55,+1.65%,100,"23,010","678,763",5.29,"410,212",-5.01,-13.90
3460,팬오션,상승85,+2.52%,"1,000","18,496","534,570",15.06,"701,321",6.89,5.17
3630,롯데리츠,상승30,+0.83%,500,"10,490","288,969",7.73,"102,026",88.54,0.95

In [ ]:
#df.reset_index(inplace=True)
max_rating = df['현재가'].max()
min_rating = df['현재가'].min()
avg_rating = df['현재가'].mean()

print(f"최고값 : {max_rating}")
print(f"최저값 : {min_rating}")
print(f"평균값 : {avg_rating}")

최고값 : 1069545
최저값 : 2100
평균값 : 106748.388